examples filter=lfs diff=lfs merge=lfs -text
smali filter=lfs diff=lfs merge=lfs -text
smalidea filter=lfs diff=lfs merge=lfs -text
util filter=lfs diff=lfs merge=lfs -text
baksmali filter=lfs diff=lfs merge=lfs -text
dexlib2 filter=lfs diff=lfs merge=lfs -text
gradle.properties filter=lfs diff=lfs merge=lfs -text
gradlew.bat filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
scripts filter=lfs diff=lfs merge=lfs -text
settings.gradle filter=lfs diff=lfs merge=lfs -text
extract-property.xslt filter=lfs diff=lfs merge=lfs -text
gradlew filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
README.version filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
smali-integration-tests filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
build.gradle filter=lfs diff=lfs merge=lfs -text
deodexerant filter=lfs diff=lfs merge=lfs -text
gradle filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_BSD filter=lfs diff=lfs merge=lfs -text
